{% extends "base.html" %}
{% block title %}{{workout['name']}}{% endblock %} <!-- TODO: Make titles dynamic -->
{% block head %}
    {{ super() }}
    <style>
    .nav-item.nav-link.nav-work {color: rgba(255, 255, 255, 0.75);}
    </style>
{% endblock %}
{% block content %}
<div class="container">
  <div class="text-center mt-3">
      <img class="detail-img" src='{{workout['img']}}'/>
  </div>
	<h1 class="display-4" style="text-transform: capitalize; text-align: center"><a href="https://www.google.com/search?q={{workout['name']}}">{{workout['name']}}</a></h1>
    <table class="table">
      <tbody> 
        <tr>
          <th scope="row">Category</th>
          <td>{{workout['category']}}</td>
        </tr>
        <tr>
          <th scope="row">Met</th>
          <td>{{workout['met']}}</td>
        </tr>
        <tr>
          <th scope="row">Description</th>
          <td>{{workout['description']|safe}}</td>
        </tr>
      </tbody>
    </table>
  <div id="model-links" class="text-center">
    <h1 class="lead">Gyms</h1>
    <hr>
    <div class="row">
      {% if gyms|count > 0 %}
      {% for x in range(0, gyms|count) %}
      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="{{ url_for('gyms.detail', id=gyms[x]['id']) }}"><img class="card-img-top" alt="" src='{{ images[x] }}'/></a>

          <div class="card-body card-img-overlay">           
            <h4 class="card-title lead">
              <a href="{{ url_for('gyms.detail', id=gyms[x]['id']) }}">{{ gyms[x]['name'] }}</a>
            </h4>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else   %}
      <div class="container">
        <h5>This Workout Does Not Require A Gym </h5>
      </div>
      <hr>
      {% endif  %}
    </div>

    <h1 class="lead">Foods That Can Be Burned Off in an Hour</h1>
    <hr>
    <div class="row">
      {% for x in range(0, foods|count) %}
      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="{{ url_for('foods.detail', id=foods[x]['id']) }}"><img class="card-img-top" alt="" src='{{ foods[x]['image'] }}'/></a>

          <div class="card-body card-img-overlay">           
            <h4 class="card-title lead">
              <a href="{{ url_for('foods.detail', id=foods[x]['id']) }}">{{ foods[x]['name'] }}</a>
            </h4>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <h1 class="lead">Workouts In The Same Category</h1>
    <hr>
    <div class="row">
      {% for x in range(0, similar_workouts|count) %}
      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="{{ url_for('.detail', id=similar_workouts[x]['id']) }}"><img class="card-img-top" alt="" src='{{ similar_workouts[x]['img'] }}'/></a>

          <div class="card-body card-img-overlay">           
            <h4 class="card-title lead" style = "text-transform: capitalize">
              <a href="{{ url_for('.detail', id=similar_workouts[x]['id']) }}">{{ similar_workouts[x]['name'] }}</a>
            </h4>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</div>
{% endblock %}