# Private keys
*.pem

# Emacs backups
*~

# Webpack
.webassets-cache/
style.css

# Python files
*.egg*
__pycache__*

# Log files
*.log

# Instance variables
instance/*
# Except for the default config
!instance/default_config.py

# VirtualEnv
env/
pip-selfcheck.json

.DS_Store
