{% extends "base.html" %}
{% block title %}CKC - Food{% endblock %}
{% block head %}
    {{ super() }}
    <style>
    .nav-item.nav-link.nav-food {color: rgba(0, 0, 0, 0.9);}
		</style>
{% endblock %}
{% block content %}
<h1>Food</h1>

<div class="container">
  <div class="row">
    <div class="col-sm">
    	<h5 class=text-sm-left>Food 1</h5>
    	<a href="/foods/1"> <img src="https://blognumbers.files.wordpress.com/2010/09/1.jpg" class="img-thumbnail"> </a>
    </div>
    <div class="col-sm">
    	<h5 class=text-sm-left>Food 2</h5>
    	<a href= "/foods/2"> <img src="https://blognumbers.files.wordpress.com/2010/09/2.jpg" class="img-thumbnail"></a>
    </div>
    <div class="col-sm">
    	<h5 class=text-sm-left>Food 3</h5>
    	<a href= "/foods/3"> <img src="https://blognumbers.files.wordpress.com/2010/09/3.jpg" class="img-thumbnail"></a>
    </div>
  </div>
</div>


{% endblock %}