{% extends "base.html" %}
{% block title %}{{food['name']}}{% endblock %} <!-- TODO: Make titles dynamic -->
{% block head %}
    {{ super() }}
    <style>
    .nav-item.nav-link.nav-food {color: rgba(255, 255, 255, 0.75);}
    </style>
{% endblock %}
{% block content %}
<div class="container mt-3">
  <div class="text-center">
      <img class="detail-img" src="https://spoonacular.com/cdn/ingredients_500x500/{{food['img']}}">
  </div>

  <div id="food-detail" name="{{food['name']}}" servings="{{food['servings']}}" calorie="{{food['calorie']}}" sodium="{{food['sodium']}}" fat="{{food['fat']}}" protein="{{food['protein']}}"></div>

  <p> <a href= "/stores">Grocery Stores</a> </p>
  <div id="model-links" class="text-center">
    <h1 class="lead">Similar Foods</h1>
    <hr>
    <div class="row">
      {% for x in range(0, similar_foods|count) %}
      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="{{ url_for('.detail', id=similar_foods[x]['id']) }}"><img class="card-img-top" alt="" src='{{ similar_foods[x]['image'] }}'/></a>

          <div class="card-body card-img-overlay">           
            <h4 class="card-title lead">
              <a href="{{ url_for('.detail', id=similar_foods[x]['id']) }}">{{ similar_foods[x]['name'] }}</a>
            </h4>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- TODO: Link to related or common workouts -->
    <h1 class="lead">Workouts to Try</h1>
    <hr>
    <div class="row">
      {% for x in range(0, workouts|count) %}
      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="{{ url_for('.detail', id=workouts[x]['id']) }}"><img class="card-img-top" alt="" src='{{ workouts[x]['img'] }}'/></a>

          <div class="card-body card-img-overlay">           
            <h4 class="card-title lead">
              <a href="{{ url_for('.detail', id=workouts[x]['id']) }}">{{ workouts[x]['name'] }}</a>
            </h4>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    
  </div>
</div>

<script type="text/babel" src="../../static/js/fooddetail.js"></script>
{% endblock %}