{% extends "base.html" %}
{% block title %}{{food['name']}}{% endblock %} <!-- TODO: Make titles dynamic -->
{% block head %}
    {{ super() }}
    <style>
    .nav-item.nav-link.nav-food {color: rgba(0, 0, 0, 0.9);}
		</style>
{% endblock %}
{% block content %}
<h1></h1>
	<div class="text-center">
  		<img src="{{food['img']}}" class="rounded" style="height: 200px; width: 200px;">
	</div>
	<p> <h6>Name:{{food['name']}}</h6> </p>
    <p> <h6>Calories:{{food['calories']}}</h6> </p>
    <p> <h6>Nutrional Information: Sodium: {{food['sodium']}} Fat: {{food['fat']}} Protein: {{food['protein']}}</h6> </p>
    <p> <a href= "/stores">Grocery Stores</a> </p>
    <p> <a href= "/workouts">Workouts</a> </p>

{% endblock %}