{% extends "models.html" %}
{% block title %}CKC - Foods{% endblock %}
{% block head %}
    {{ super() }}
    <style>
    .nav-item.nav-link.nav-food {color: rgba(255, 255, 255, 0.75);}
    </style>
{% endblock %}
{% block gridhead %}Foods{% endblock %}
{% block cards %}
  <div class="row">
    {% for x in range(0, items|count) %}
    <div id="food-grid" class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
      <div class="card h-100 card-inverse ">
        <a href="{{ url_for('.detail', id=items[x]['id']) }}"><img class="card-img-top" alt="" src='{{ items[x]['image'] }}'/></a>

        <h4 class="card-title">
          <a href="{{ url_for('.detail', id=items[x]['id']) }}">{{ items[x]['name'] }}</a>
        </h4>
        <div class="card-img-overlay">
          <h4 class="card-title title-overlay">
            <a href="{{ url_for('.detail', id=items[x]['id']) }}">{{ items[x]['name'] }}</a>
          </h4>

          {% for attr in items[x]|sort %}
          {% if attr != 'name' and attr != 'image' and attr != 'id' and attr != 'detail_url'%}
          <p class="card-text">{{ attr.title() }}: {{ items[x][attr] }}</p>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
{% block content %}
{{ super() }}
{% endblock %}