{% extends "base.html" %}
{% block title %}{% endblock %} <!-- TODO: Make titles dynamic -->
{% block head %}
    {{ super() }}
    <style>
    .nav-item.nav-link.nav-food {color: rgba(0, 0, 0, 0.9);}
		</style>
{% endblock %}
{% block content %}
<h1></h1>
	<div class="text-center">
  		<img src="http://www.flooringvillage.co.uk/ekmps/shops/flooringvillage/images/request-a-sample--547-p.jpg" class="rounded">
	</div>
	<p> <h6>Name:</h6> </p>
    <p> <h6>Calories:</h6> </p>
    <p> <h6>Nutrional Information:</h6> </p>
    <p> <a href= "/stores">Grocery Stores</a> </p>
    <p> <a href= "/workouts">Workouts</a> </p>
{% endblock %}