{% extends "base.html" %}
{% block title %}store-{{title}}{% endblock %} <!-- TODO: Make titles dynamic -->
{% block head %}
    {{ super() }}
    <style>
    .nav-item.nav-link.nav-stor {color: rgba(0, 0, 0, 0.9);}
		</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="text-center">
  		<img class="detail-img" src="{{store['img']}}">
	</div>
	<h1 class="display-4" style="text-transform: capitalize; text-align: center">{{store['name']}}</h1>
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Location</th>
          <td>{{store['location']}}</td>
        </tr>        
        <tr>
          <th scope="row">Description</th>
          <td>{{store['description']}}</td>
        </tr>
        <tr>
          <th scope="row">Phone Number</th>
          <td>{{store['phone']}}</td>
        </tr>
        <tr>
          <th scope="row">Ratings</th>
          <td>{{store['ratings']}}</td>
        </tr>
      </tbody>
    </table>
    <p> <a href= "/foods">Foods</a> </p>
    <p> <a href= "/gyms">Gyms</a> </p>
</div>
{% endblock %}