{% extends "base.html" %}
{% block title %}{{store['name']}}{% endblock %} <!-- TODO: Make titles dynamic -->
{% block head %}
    {{ super() }}
    <style>
    .nav-item.nav-link.nav-stor {color: rgba(255, 255, 255, 0.75);}
		</style>
{% endblock %}
{% block content %}
<div id="places-detail" class="container mt-3">
	<div class="text-center">
  		<img class="detail-img" src='{{pic}}'/>
	</div>
	<h1 class="display-4" style="text-transform: capitalize; text-align: center">{{store['name']}}</h1>
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Location</th>
          <td>{{store['location']}}</td>
        </tr>        
        <tr>
          <th scope="row">Price Level</th>
          {% if store['price_level'] > 0 %}
          <td>{% for i in range(0, store['price_level']) %}${% endfor %}</td>
          {% else %}
          <td>N/A</td>
          {% endif %}
        </tr>
        <tr>
          <th scope="row">Ratings</th>
          <td>{{store['ratings']}}</td>
        </tr>
        <tr>
          <th scope="row">Phone Number</th>
          <td>{{store['phone']}}</td>
        </tr>
      </tbody>
    </table>
    <p> <a href= "/foods">Foods</a> </p>
    <p> <a href= "/gyms">Gyms</a> </p>
</div>
{% endblock %}