{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block head %}
    {{ super() }}
    <style>
    .nav-item.nav-link.nav-abou {color: rgba(0, 0, 0, 0.9);}
		</style>
{% endblock %}
{% block content %}
<div class="container-fluid" style="text-align: center">
  <!-- About -->
  <div class="card border-light" style="width: 100%">
    <div class="card-header" id="about">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseAbout" aria-expanded="true" aria-controls="collapseAbout">
          About
        </button>
      </h5>
    </div>
    <div id="collapseAbout" class="collapse show" aria-labelledby="about">
      <div class="card-body">
        <p>Calorie Killer Club allows users to find recipes and calorie counts for the food that they enjoy and then find exercises that burn off that same amount of calories. We even further suggest gyms that allow you to do the type of workouts you enjoy and restaurants that serve the type of food you like. Anyone who is interested in either bulking up or losing weight can benefit from our site.</p>
        <p>We can show you exactly how much you should be ashamed of yourself for eating a certain amount of food. :)</p>
        <p><a href="https://hrfofut.gitbooks.io/report/">GitBook Report</a></p>
        <p><a href="https://github.com/hrfofut/idb">GitHub Repo</a></p>
      </div>
    </div>
  </div>
  <!-- People -->
  <div class="card border-light" style="width: 100%">
    <div class="card-header" id="people">
      <h5 class="mb-0" >
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapsePeople" aria-expanded="false" aria-controls="collapsePeople">
          People
        </button>
      </h5>
    </div>
    <div id="collapsePeople" class="collapse" aria-labelledby="people">
      <div class="card-body">
        <h4>name of the group</h4>
        <!--Group members line-up-->
        <div class="container group-members text-center justify-content-center">
          <div class="row">
            <div class="col-xs-12 col-sm group-member">
              <img class="img-circle group-photos" src="https://github.com/cindyqtruong.png" alt="Group Member 1">
              <h5>Cindy Truong</h5>
              <p class="lead">Front End, Co-Maker of Beauty</p>
              <p>CS major at UT Austin. Amazing.</p>
              <ul class="list-unstyled">
                <li>No. of Commits: {{commits['cindyqtruong']}}</li>
                <li>No. of Issues: {{issues[0]}}</li>
                <li>No. of Unit Tests: 0</li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm group-member">
              <img class="img group-photos" src="https://github.com/BrandonHarrisonCode.png" alt="Group Member 2">
              <h5>Brandon Harrison</h5>
              <p class="lead">Back end, Magic</p>
              <p>Writes code while studying at UT Austin. </p>
              <ul class="list-unstyled">
                <li>No. of Commits: {{commits['BrandonHarrisonCode']}}</li>
                <li>No. of Issues: {{issues[1]}}</li>
                <li>No. of Unit Tests: 0</li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm group-member">
              <img class="img group-photos" src="https://github.com/hrfofut.png" alt="Group Member 3">
              <h5>Harrison Foreman</h5>
              <p class="lead">Front End, Code Beautician </p>
              <p>I coded some of this stuff. Student at UT Austin.</p>
              <ul class="list-unstyled">
                <li>No. of Commits: {{commits['hrfofut']}}</li>
                <li>No. of Issues: {{issues[2]}}</li>
                <li>No. of Unit Tests: 1</li>
              </ul>
            </div>
          </div>
          <div class="row justify-content-around">
            <div class="col-xs-12 col-sm group-member">
              <img class="img group-photos" src="https://github.com/straitlaced.png" alt="Group Member 4">
              <h5>Wesley Joe</h5>
              <p class="lead">Front and backend, Resident API guy</p>
              <p>Student at UT Austin. Studies CS  </p>
              <ul class="list-unstyled">
                <li>No. of Commits: {{commits['straitlaced']}}</li>
                <li>No. of Issues: {{issues[3]}}</li>
                <li>No. of Unit Tests: 0</li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm group-member">
              <img class="img group-photos" src="https://github.com/fantomats15.png" alt="Group Member 5">
              <h5>Bao Than</h5>
              <p class="lead">Back end, King of servers</p>
              <p>Coder primarily, but seeking education at UT Austin.</p>
              <ul class="list-unstyled">
                <li>No. of Commits: {{commits['fantomats15']}}</li>
                <li>No. of Issues: {{issues[4]}}</li>
                <li>No. of Unit Tests: 0</li>
              </ul>
            </div>
          </div>
        </div>

        <p>Total Commits: {{commits['total']}} Total Issues: {{issues[5]}} Total Tests: 1</p>
      </div>
    </div>
  </div>
  <!-- Data -->
  <div class="card border-light" style="width: 100%">
    <div class="card-header" id="data">
      <h5 class="mb-0" >
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseData" aria-expanded="false" aria-controls="collapseData">
          Data
        </button>
      </h5>
    </div>
    <div id="collapseData" class="collapse" aria-labelledby="data">
      <div class="card-body">
        <p><a href="https://developer.github.com/v3/">GitHub</a> | Wesley does API and JSON parsing magic.</p>
        <p><a href="https://spoonacular.com/food-api">Spoonacular - Food API and Recipe API</a> | We use good ol' manual labor.</p>
      </div>
    </div>
  </div>  
  <!-- Tools -->
  <div class="card border-light" style="width: 100%">
    <div class="card-header" id="tools">
      <h5 class="mb-0" >
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTools" aria-expanded="false" aria-controls="collapseTools">
          Tools
        </button>
      </h5>
    </div>
    <div id="collapseTools" class="collapse" aria-labelledby="tools">
      <div class="card-body">
        <p>[tools used with description, special focus on optional tools that were not required]</p>
        <!-- TODO: have a super fancy tool card, with icons below that switch what text and image is displayed. -->
      </div>
    </div>
  </div> 
</div>
{% endblock %}
