<!DOCTYPE html>
<html lang="en">
	<h5>Click on one of the link below to go to our API page for each of the models</h5>
	<body>
    	<a class="nav-item nav-link nav-abou" href="http://api.caloriekiller.club/foods/">Food</a>
    	<a class="nav-item nav-link nav-abou" href="http://api.caloriekiller.club/workouts/">Workouts</a>
    	<a class="nav-item nav-link nav-abou" href="http://api.caloriekiller.club/gyms/">Gyms</a>
    	<a class="nav-item nav-link nav-abou" href="http://api.caloriekiller.club/stores/">Stores</a>
  	</body>  
</html>