<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">-->
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
		<title>{% block title %} {% endblock %} </title>
        
        {% assets "scss_all" %}
        <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
        {% endassets %}
		{% endblock %}
	</head>
	<body>
		{% include 'navbar.html' %}
		{% block content %}
		{% endblock %}
	</body>
{% include 'bootstrapscripts.html' %}
</html>
