{% extends "base.html" %}
{% block title %}Let's Get Fit{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('http://www.hunannumberone.com/images/slideshow/bigstock-Chinese-Food-Background-169590197.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Food</h3>
              <p>Find your favorite foods.</p>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('http://www.turmericuisine.com/img/background/bg_12.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Know</h3>
              <p>Find healthier foods to fit your needs</p>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('http://hss-prod.hss.aol.com/hss/storage/midas/3a6e1afc5a2a0a434b534b804b6763d8/203869714/stock-photo-fitness-equipment-healthy-food-sneakers-water-apple-on-wooden-background-362066375.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Go</h3>
              <p>Find places near to you that have the activities you want.</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    </div>
    <!-- /.container -->
    {% endblock %}