{% extends "base.html" %}
{% block title %}CKC - Food{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm">
    	<h5 class=text-sm-left>Pic 1</h5>
    	<a href="./0"> <img src="https://blognumbers.files.wordpress.com/2010/09/1.jpg" class="img-thumbnail"> </a>
    </div>
    <div class="col-sm">
    	<h5 class=text-sm-left>Pic 2</h5>
    	<a href= "./1"> <img src="https://blognumbers.files.wordpress.com/2010/09/2.jpg" class="img-thumbnail"></a>
    </div>
    <div class="col-sm">
    	<h5 class=text-sm-left>Pic 3</h5>
    	<a href= "./2"> <img src="https://blognumbers.files.wordpress.com/2010/09/3.jpg" class="img-thumbnail"></a>
    </div>
  </div>
</div>


{% endblock %}