{% extends "base.html" %}
{% block title %}CKC - Model{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container">
  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">{% block gridhead %} {% endblock %}
    <small>List</small>
    {% if items|count > 0 %}
    <div class="float-right">
      <button class="btn pull-right btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort By</button>
      <div class="dropdown-menu dropdown-menu-right">
        {% for attr in items[0]|sort %}
        {% if (attr != 'image' and attr != 'id' and attr != 'detail_url') %} 
        <a class="dropdown-item" href="{{ url_for('.overview', sort=attr) }}">{{ attr }}</a>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item active">{{ self.gridhead() }}</li>
  </ol>

  {% if items|count > 0 %}
  <div class="row">
    {% for x in range(0, items|count) %}
    <div id="model-grid" class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="{{ items[x][detail_url] }}"><img class="card-img-top" alt="" src='{{ items[x]['image'] }}'/></a>
        <div class="overlay"> 
        </div>

        <div class="card-body">
          <h4 class="card-title" id="title-{{x}}">
            <a href="{{ items[x][detail_url] }}">{{ items[x]['name'] }}</a>
          </h4>
          {% for attr in items[x]|sort %}
          {% if attr != 'name' and attr != 'image' and attr != 'id' and attr != 'detail_url' %}
          <p class="card-text">{{ attr.title() }}: {{ items[x][attr] }}</p>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Pagination
       {% include 'pagination.html' %}-->
  {% else %}
  <h3><p class="text-center"> Oops, there's nothing here...</p></h3>
  {% endif %}
</div>
{% endblock %}

