    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Calorie Killer Club</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-item nav-link nav-food" href="{{url_for('foods.overview') }}">Foods</a>
            </li>
            <li class="nav-item">              
              <a class="nav-item nav-link nav-work" href="{{ url_for('workouts.overview') }}">Workouts</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link nav-gyms" href="{{ url_for('gyms.overview') }}">Gyms</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link nav-stor" href="{{ url_for('stores.overview') }}">Stores</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link nav-abou" href="{{ url_for('general.about')  }}">About</a>
            </li>
            <li class="nav-item">
              <form role="search" method="POST" action="/search">
                <div class="input-group ml-2">
                  <input type="text" class="form-control" name="search" placeholder="Search...">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Go</button>
                  </div>
                </div>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>
