<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ url_for('general.splash') }}">Calorie Killer Club</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link nav-food" href="{{url_for('foods.foods_overview') }}">Foods <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link nav-work" href="{{ url_for('workouts.workouts_overview') }}">Workouts</a>
      <a class="nav-item nav-link nav-gyms" href="{{ url_for('gyms.gyms_overview') }}">Gyms</a>
      <a class="nav-item nav-link nav-stor" href="{{ url_for('stores.stores_overview') }}">Stores</a>
      <a class="nav-item nav-link nav-abou" href="{{ url_for('general.about')  }}">About</a>
    </div>
  </div>
</nav>
