{% extends "base.html" %}
{% block title %}{{gym['name']}}{% endblock %} <!-- TODO: Make titles dynamic -->
{% block head %}
    {{ super() }}
    <style>
    .nav-item.nav-link.nav-gyms {color: rgba(255, 255, 255, 0.75);}
		</style>
{% endblock %}
{% block content %}
<div id="places-detail" class="container mt-3">
	<div class="text-center">
  		<img class="detail-img" src="{{pic}}">
	</div>
	<h1 class="display-4" style="text-transform: capitalize; text-align: center">{{gym['name']}}</h1>
    <table class="table">
      <tbody>     
        <tr>
          <th scope="row">Location</th>
          <td>{{gym['location']}}</td>
        </tr>        
        <tr>
          <th scope="row">Pricing</th>
          {% if gym['price_level'] > 0 %}
          <td>{% for i in range(0, gym['price_level'] + 1) %}${% endfor %}</td>
          {% else %}
          <td>N/A</td>
          {% endif %}
        </tr>
        <tr>
          <th scope="row">Ratings</th>
          <td>{{gym['ratings']}}</td>
        </tr>
        <tr>
          <th scope="row">Phone Number</th>
          <td>{{gym['phone']}}</td>
        </tr>
      </tbody>
    </table>
    <p> <a href= "/workouts">Workouts</a> </p>
    <p> <a href= "/stores">Grocery Stores</a> </p>
</div>
{% endblock %}