{% extends "base.html" %}
{% block title %}{{gym['name']}}{% endblock %} <!-- TODO: Make titles dynamic -->
{% block head %}
    {{ super() }}
    <style>
    .nav-item.nav-link.nav-gyms {color: rgba(255, 255, 255, 0.75);}
		</style>
{% endblock %}
{% block content %}
<div id="places-detail" class="container mt-3">
	<div class="text-center">
  		<img class="detail-img" src="{{pic}}">
	</div>
	<h1 class="display-4" style="text-transform: capitalize; text-align: center">{{gym['name']}}</h1>
    <table class="table">
      <tbody>     
        <tr>
          <th scope="row">Location</th>
          <td>{{gym['location']}}</td>
        </tr>
        <tr>
          <th scope="row">Ratings</th>
          <td>{{gym['ratings']}}</td>
        </tr>
        <tr>
          <th scope="row">Phone Number</th>
          <td>{{gym['phone']}}</td>
        </tr>
      </tbody>
    </table>

    <div id="model-links" class="text-center">
      <h1 class="lead">Nearby Stores</h1>
      <hr>
      <div class="row">
        {% for x in range(0, stores|count) %}
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="{{ url_for('stores.detail', id=stores[x]['id']) }}"><img class="card-img-top" alt="" src='{{ images[x] }}'/></a>

            <div class="card-body card-img-overlay">           
              <h4 class="card-title lead">
                <a href="{{ url_for('stores.detail', id=stores[x]['id']) }}">{{ stores[x]['name'] }}</a>
              </h4>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <!-- TODO: Link to related or common workouts -->
      <h1 class="lead">Workouts to Try</h1>
      <hr>
      <div class="row">
        {% for x in range(0, workouts|count) %}
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="{{ url_for('workouts.detail', id=workouts[x]['id']) }}"><img class="card-img-top" alt="" src='{{ workouts[x]['img'] }}'/></a>

            <div class="card-body card-img-overlay">           
              <h4 class="card-title lead" style = "text-transform: capitalize">
                <a href="{{ url_for('workouts.detail', id=workouts[x]['id']) }}">{{ workouts[x]['name'] }}</a>
              </h4>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q={{gym['lat']}},{{gym['lng']}}&amp;key={{key}}"></iframe>
</div>
{% endblock %}